.pag{                 
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 

body{
    background-color:  #f2f2f2;
}

.table-svg{
    background-color: #d9d9d9;
    border-style: inset;
    border-width: 10px;
    border-color: #808080;
    border-radius: 10px;
} 

.retangulo{
    fill:#2e5cb8; 
    stroke:black; 
    stroke-width:1px; 
} 

